.home {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
  }
  
  .home-content h1 {
    font-size: 36px;
    color: #333;
  }
  
  .home-content p {
    font-size: 18px;
    color: #555;
  }
  

  .logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  